.doceMaria {
  font-family: "Sacramento", cursive;
  font-size: 40px;
  color: rgb(108, 77, 38);
}

.barra {
  background-color: rgb(192, 153, 98);
}

.teste {
  font-family: "Sacramento", cursive;
  font-size: 40px;
  color: rgb(108, 77, 38);
}

.testeTwo {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  color: rgb(108, 77, 38);
}

.linksNav {
  font-family: "Sacramento", cursive;
  font-size: 30px;
}

.titleCarouselBolo {
  font-size: 50px;
  font-weight: 600;
  color: rgb(248, 243, 236);
  text-shadow: 50px;
}

.titleCarouselTorta {
  font-size: 50px;
  font-weight: 600;
  color: rgb(229, 74, 74);
  text-shadow: 50px;
}

.titleCarouselSobremesa {
  font-size: 50px;
  font-weight: 600;
  color: bisque;
  text-shadow: 50px;
}

.price {
  font-weight: 700;
}

.linkPrice,
.socialLinks {
  text-decoration: none;
  color: black;
}
/* .teste {
  height: 800px;
} */
